
@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCode.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCodeItalic.woff2') format('woff2');
    font-style: italic;
}
code, .asciinema-terminal{
    font-family: 'Cascadia Code', monospace;
    font-feature-settings: 'calt', 'ss01';
}